pais {background-color:black;}
departamento {background-color:blue; display:block;} 
cabecera {color:white; font-size:1cm ;display:inline;} 
habitantes {color:yellow; font-size:1cm;display:inline;}
altura {background-color:red; color:black;font-size:1cm; display:inline;}
zipcode {color: red; font-size:1cm;display:inline}
idioma {color: orange; font-size:1cm; display: inline}
transporte{background-color: white; color:black; display:block;}